* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

select,
input,
option,
button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  margin: 10px 0;
}

label {
  margin: 3rem 0;
}

button {
  cursor: pointer;
}

#buttonDiv {
  margin: 5vh 0;
}

#bpmNum {
  -webkit-appearance: none;
  -moz-appearance: textfield; /* Firefox removes spinner by default */
  appearance: textfield;
}

#bpmSlider {
  -webkit-transform: rotate(-90deg);
  position: absolute;
  margin: 0;
  padding: 3em 0;
  width: calc(100vh - 6em);
  height: 0;
}

#bpmNum::-webkit-outer-spin-button,
#bpmNum::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#bpmNum {
  -moz-appearance: textfield; /* Firefox */
  margin: 0;
  padding: 0;
  padding: 15px 0;
}

.params select:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.params select:hover,
.params input:hover {
  opacity: 0.7;
}
